html{
    background-color: #1E2233;
}

.top{
    width: 100%;
    height: 200px ;
    display: flex;
    flex-wrap: wrap;
    color: #E4E4E4;
    background-color: #1E2233;
    justify-content: center;
    align-items: center;
    
}


.about-me{
    max-width: 400px;
    height:100%;
    padding:30px 0px 3px 30px;  
    font-size: 14px;
    font-weight: lighter;
}
.about-me p{
    margin-bottom: 4px;
}
.white-word{
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.button{
    background-color: transparent;
    border: 1px solid #F9AD3D;
    background-color: #1E2233;
    color: #F9AD3D;
    padding: 3px;
    border-radius: 3px;
    margin-top: 7px;
    font-size: 7px;
}



.picture{
    flex:auto;
    height:100%;
    background-color: #1E2233;
}

.picture img{
    display: block;
    width: 130px;
    height:130px;
    border-radius: 50%;
    border: 2px solid #E4E4E4;
    margin: 7% 0% 0% 32%;

}

.education{
    max-width: 400px;
    
    height:100%;
    padding:30px 30px 3px 0px;  
    font-size: 14px;
    font-weight: lighter;
    text-align: right;
}


/*tab*/

.tab{
    display:flex;
    justify-content: center;
    background-color: #1E2233;
    

}

.exp-tab, .ability-tab, .projects-tab{
    width: 129px;
    height: 40px;
    margin: 38px 0px 23px 0px;
    text-align: center;
    padding-top: 5px;;
    color: #E4E4E4;
    cursor: pointer;
    font-size: 17px;
}

.exp-tab{
    border-radius: 5px 0px 0px 5px;

}
.ability-tab{
    background-color: #1E2233;
    color: #E4E4E4;
}
.projects-tab{
    border-radius: 0px 5px 5px 0px;
   
}



/*slider*/
.slider{
    position: relative;
    width: 100%;
    height: 430px;
    
}
.exp, .ability, .projects{
    /*position: absolute;*/
    width: 100%;
    height: 100%;
}

.exp{
    background-color: #1E2233;
    position: relative;
    letter-spacing:1px;
    /*display: flex;
    justify-content: flex-end;
    align-items: flex-start;*/
}
.exp .story{
    /*flex: none;*/
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 58px;
    background-color: #1E2233;
    border: 1px solid #F9AD3D;
    color: #e4e4e400;
    font-size: 13px;
    font-weight: lighter;
    text-align: unset;
    padding: 18px;
    left:130px;
    top:50px;
    overflow: hidden;
    cursor: pointer;

    -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out 0.5s;
    transition: width 0.3s ease-in-out,height 0.3s ease-in-out 0.5s;
}
.exp .story:hover{
    width: 250px;
    height: 335px;
    color: #E4E4E4;
}
.exp .story .gg-add{
    right:20px;
    display: inline-block; 
    position: absolute; 
    color: #F9AD3D;
}


.exp .job{
    /*flex: none;*/
    display: inline-block;
    position: absolute;
    max-width: 25%;
    height: 300px;
    background-color: #1E2233;
    color: #E4E4E4;
    font-size: 12px;
    font-weight: lighter;
    text-align: right;
    right:620px;
    top:50px;
    line-height: 20px;
}
.big-white-word{
    color: rgb(255, 255, 255);
    font-size: 23px;
}
.exp .job-description{
    /*flex: none;*/
    display: inline-block;
    position: absolute;

    max-width: 540px;
    height: 300px;
    background-color: #1E2233;
    color: #E4E4E4;
    font-size: 13px;
    font-weight: lighter;
    right:50px;
    top:48px;
}

.ability{
    background-color: #1E2233;
    position: relative;
    letter-spacing:1px;
}

.ability .rating-content{
    display: inline-block;
    position: absolute;
    left: 180px;
    top:25px;
    background-color: #1E2233;
    width:525px;
    height: 400px;
    color: #E4E4E4;
    font-size: 14px;
    line-height: 18px;
    font-weight: lighter;
    text-align: left;
}

.ability .rating{
    display: inline-block;
    position: absolute;

    color: #F9AD3D;
    background-color: #1E2233;
    margin-bottom: 15px;
    right:1px;
}
.ability p{
    display: inline-block;

    margin-bottom: 4px;
}

.ability .skills{
    display: inline-block;
    position: absolute;

    width: 150px;
    height: 58px;
    background-color: #1E2233;
    border: 1px solid #F9AD3D;
    color: #e4e4e400;
    font-size: 11px;
    font-weight: lighter;
    text-align: unset;
    padding: 18px;
    right:180px;
    top:30px;
    overflow: hidden;
    cursor: pointer;

    -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out 0.5s;
    transition: width 0.3s ease-in-out,height 0.3s ease-in-out 0.5s;
}
.ability .skills:hover{
    width: 230px;
    height: 365px;
    color: #E4E4E4;
}
.ability .skills .gg-add{
    right:20px;
    display: inline-block; 
    position: absolute; 
    color: #F9AD3D;
}






















.projects{
    background-color: #1E2233;
}

.list{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top:30px;
    justify-content: center;
    width:100% ;
    height: 150px;
    top:30px;
    margin: 0px auto 10px auto ;
}
.p-name{
    width: 170px;
    height: 160px;
    margin: 8px;
    padding: 0px;
    text-align: center;
    border-radius: 2px;
    font-weight: 300;
    font-size: 15px;
    position: relative;
    cursor: pointer;
}
.p-name p{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-5%, -50%);
}
.p-name:nth-child(1){
    color: #FFFFDC;
    border: 1px solid #FFFFDC;
}
.p-name:nth-child(1):hover{
    background-color: #FFFFDC;
    color:#1E2233 ;
    font-weight: 500;
}
.p-name:nth-child(2){
    color: #F7BF86;
    border: 1px solid #F7BF86;
}
.p-name:nth-child(2):hover{
    background-color: #F7BF86;
    color:#1E2233 ;
    font-weight: 500;
}
.p-name:nth-child(3){
    color: #F9C43F;
    border: 1px solid #F9C43F;
}
.p-name:nth-child(3):hover{
    background-color: #F9C43F;
    color:#1E2233 ;
    font-weight: 500;
}
.p-name:nth-child(4){
    color: #EC885A;
    border: 1px solid #EC885A;
}
.p-name:nth-child(4):hover{
    background-color: #EC885A;
    color:#1E2233 ;
    font-weight: 500;
}
.p-name:nth-child(5){
    color: #C34C2C;
    border: 1px solid #C34C2C;
}
.p-name:nth-child(5):hover{
    background-color: #C34C2C;
    color:#1E2233 ;
    font-weight: 500;
}
.p-name:nth-child(6){
    color: #F36439;
    border: 1px solid #F36439;
}
.p-name:nth-child(6):hover{
    background-color: #F36439;
    color:#1E2233 ;
    font-weight: 500;
}
.bars{
    width: 35%;
    color: #E4E4E4;
    display: inline-block;
    transform: translate(30%, 285%);
    line-height: 7px;
    
}
















.slider button{
    background-color: #2F385D;
    width: 30px;
    height:30px;
    color: #F9AD3D;
    border: none;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 100;
    position: absolute;
    display:inline-block;
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}
.slider button:hover{
    transform: scale(2);
    font-size: 13px;
    font-weight: 500;
}
.slider .nxt-btn{
    right: 0px;
    bottom: 160px;
    transform: translateX(-20%);
    /*transform: translate(0%,-700%);*/
}
.slider .pre-btn{
    left:0px;
    bottom: 160px;
    transform: translateX(20%);
    /*transform: translate(0%,0);*/
}






@media screen and (max-width : 1024px) {
    .top{
        height: auto ;
        display:block;
        justify-content:space-around;
        align-items:stretch;    
    }

    .about-me{
        width: 750px;
        font-size: 15px;
    }
    .education{
        position: absolute;
        max-width: 750px;
        height: auto;
        right: 0px;
        top:0px;
        font-size: 15px;
    }
    .picture{
        position: absolute;
        top:220px;
        height: auto;
        width: 100%;
    }
    .picture img{
        position:relative;
        margin: 0% 0% 0% 43%;
    
    }
    .exp-tab, .ability-tab, .projects-tab{
        margin: 190px 0px 23px 0px;
        padding-top: 5px;
        font-size: 17px;
    }
    .exp .story{
        position: absolute;
        left:100px;
        top:500px;
    }
    .exp .job{
        display: inline-block;
        width: 200px;
        height: 300px;
        font-size: 16px;
        font-weight: lighter;
        text-align: right;
        left:100px;
        top:50px;
        line-height: 28px;
        margin: 0px;
    }
    .exp .job-description{
        display: inline-block;
        max-width:600px;
        height: 300px;
        font-size: 16px;
        font-weight: lighter;
        right:80px;
        top:48px;
        margin: 0px;
    }
    .ability .skills{
        right:100px;
        top:430px;
    }
    .ability .rating-content{
        left: 150px;
        top:30px;
        font-size: 14px;
    }
    
    .ability .rating{
        margin-bottom: 15px;
        right:40px;
    }
    .list{
        width: 75%;
        margin-left: 12%;
    }
    .p-name{
        width: 220px;
        height: 150px;
        margin: 12px;
        font-size: 17px;
    }
    .bars{
        transform: translate(46%, 480%);
        line-height: 7px;  
    }
}

@media screen and (max-width : 768px) {
    .exp .job{
        display: inline-block;
        width: 200px;
        height: 300px;
        font-size: 16px;
        font-weight: lighter;
        text-align: right;
        left:30px;
        top:53px;
        line-height: 31px;
        margin: 0px;
    }
    .exp .job-description{
        display: inline-block;
        max-width:440px;
        height: 300px;
        font-size: 15px;
        font-weight: lighter;
        right:80px;
        top:48px;
        margin: 0px;
    }
    .exp .story{
        position: absolute;
        left:70px;
        top:550px;
    }
    .list{
        width: 90%;
        margin-left: 5%;
    }
    .p-name{
        width: 190px;
        height: 150px;
        margin: 8px;
        font-size: 17px;
    }
    .bars{
        transform: translate(30%, 465%);
        line-height: 7px;  
    }
}

@media screen and (max-width:430px) {
    html,body{ 
        display: none; 
    } 
}




