html{
    background-color: #1E2233;
}

.top{
    width: 100%;
    height: 180px ;
    display: flex;
    color: #E4E4E4;
    background-color: #1E2233;
    justify-content: center;
    align-items: center;
    
}


.about-me{
    flex:auto;
    height:100%;
    padding:30px 0px 3px 30px;  
    font-size: 11px;
    font-weight: lighter;
}
.about-me p{
    margin-bottom: 6px;
}
.white-word{
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.button{
    background-color: transparent;
    border: 1px solid #F9AD3D;
    background-color: #1E2233;
    color: #F9AD3D;
    padding: 3px;
    border-radius: 3px;
    margin-top: 4px;
    font-size: 7px;
}



.picture{
    max-width: 300px;
    height:100%;
    background-color: #1E2233;
    text-align: center;
}

.picture img{
    display: block;
    width: 125px;
    height:125px;
    border-radius: 50%;
    margin: 35px 68px 35px 68px;
    border: 2px solid #E4E4E4;

}




.education{
    flex:auto;
    
    height:100%;
    padding:30px 30px 3px 0px;  
    font-size: 11px;
    font-weight: lighter;
    text-align: right;
}


/*tab*/

.tab{
    display:flex;
    justify-content: center;
    background-color: #1E2233;
    

}

.exp-tab, .ability-tab, .projects-tab{
    width: 120px;
    height: 33px;
    margin: 33px 0px 18px 0px;
    text-align: center;
    padding-top: 5px;;
    color: #E4E4E4;
    cursor: pointer;
}

.exp-tab{
    border-radius: 5px 0px 0px 5px;

}
.ability-tab{
    background-color: #1E2233;
    color: #E4E4E4;
}
.projects-tab{
    border-radius: 0px 5px 5px 0px;
   
}



/*slider*/
.slider{
    position: relative;
    width: 100%;
    height: 400px;
    
}
.exp, .ability, .projects{
    /*position: absolute;*/
    width: 100%;
    height: 400px;
}

.exp{
    background-color: #1E2233;
    position: relative;
    letter-spacing:1px;
    /*display: flex;
    justify-content: flex-end;
    align-items: flex-start;*/
}
.exp .story{
    /*flex: none;*/
    display: inline-block;
    position: absolute;

    width: 150px;
    height: 58px;
    background-color: #1E2233;
    border: 1px solid #F9AD3D;
    color: #e4e4e400;
    font-size: 11px;
    font-weight: lighter;
    text-align: unset;
    padding: 18px;
    left:130px;
    top:50px;
    overflow: hidden;
    cursor: pointer;

    -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out 0.5s;
    transition: width 0.3s ease-in-out,height 0.3s ease-in-out 0.5s;
}
.exp .story:hover{
    width: 250px;
    height: 310px;
    color: #E4E4E4;
}
.exp .story .gg-add{
    right:20px;
    display: inline-block; 
    position: absolute; 
    color: #F9AD3D;
}


.exp .job{
    /*flex: none;*/
    display: inline-block;
    position: absolute;

    max-width: 25%;
    height: 300px;
    background-color: #1E2233;
    color: #E4E4E4;
    font-size: 11px;
    font-weight: lighter;
    text-align: right;
    right:600px;
    top:50px;
}
.big-white-word{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.exp .job-description{
    /*flex: none;*/
    display: inline-block;
    position: absolute;

    max-width: 530px;
    height: 300px;
    background-color: #1E2233;
    color: #E4E4E4;
    font-size: 11px;
    font-weight: lighter;
    right:30px;
    top:48px;
}

.ability{
    background-color: #1E2233;
    position: relative;
    letter-spacing:1px;
}

.ability .rating-content{
    display: inline-block;
    position: absolute;
    left: 180px;
    top:25px;
    background-color: #1E2233;
    width:525px;
    height: 400px;
    color: #E4E4E4;
    font-size: 13px;
    font-weight: lighter;
    text-align: left;
}

.ability .rating{
    display: inline-block;
    position: absolute;

    color: #F9AD3D;
    background-color: #1E2233;
    margin-bottom: 15px;
    right:1px;
}
.ability p{
    display: inline-block;

    margin-bottom: 4px;
}





.ability .skills{
    display: inline-block;
    position: absolute;

    width: 150px;
    height: 58px;
    background-color: #1E2233;
    border: 1px solid #F9AD3D;
    color: #e4e4e400;
    font-size: 11px;
    font-weight: lighter;
    text-align: unset;
    padding: 18px;
    right:180px;
    top:30px;
    overflow: hidden;
    cursor: pointer;

    -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out 0.5s;
    transition: width 0.3s ease-in-out,height 0.3s ease-in-out 0.5s;
}
.ability .skills:hover{
    width: 230px;
    height: 365px;
    color: #E4E4E4;
}
.ability .skills .gg-add{
    right:20px;
    display: inline-block; 
    position: absolute; 
    color: #F9AD3D;
}






















.projects{
    background-color: #F9AD3D;
}














.slider button{
    background-color: #2F385D;
    width: 30px;
    height:30px;
    color: #F9AD3D;
    border: none;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 100;
    position: absolute;
    display:inline-block;
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}
.slider button:hover{
    transform: scale(2);
    font-size: 13px;
    font-weight: 500;
}
.slider .nxt-btn{
    right: 0px;
    bottom: 160px;
    transform: translateX(-20%);
    /*transform: translate(0%,-700%);*/
}
.slider .pre-btn{
    left:0px;
    bottom: 160px;
    transform: translateX(20%);
    /*transform: translate(0%,0);*/
}


