html{
    background-color: #1E2233;
}

.top{
    width: 100%;
    height: 190px ;
    display: flex;
    color: #E4E4E4;
    background-color: #1E2233;
    justify-content: center;
    align-items: center;
    
}


.about-me{
    flex:auto;
    height:100%;
    padding:30px 0px 3px 30px;  
    font-size: 14px;
    font-weight: lighter;
}
.about-me p{
    margin-bottom: 6px;
}
.white-word{
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.button{
    background-color: transparent;
    border: 1px solid #F9AD3D;
    background-color: #1E2233;
    color: #F9AD3D;
    padding: 3px;
    border-radius: 3px;
    margin-top: 4px;
    font-size: 7px;
}



.picture{
    max-width: 300px;
    height:100%;
    background-color: #1E2233;
    text-align: center;
}

.picture img{
    display: block;
    width: 130px;
    height:130px;
    border-radius: 50%;
    margin: 35px 68px 35px 68px;
    border: 2px solid #E4E4E4;

}




.education{
    flex:auto;
    
    height:100%;
    padding:30px 30px 3px 0px;  
    font-size: 14px;
    font-weight: lighter;
    text-align: right;
}


/*tab*/

.tab{
    display:flex;
    justify-content: center;
    background-color: #1E2233;
    

}

.exp-tab, .ability-tab, .projects-tab{
    width: 129px;
    height: 40px;
    margin: 40px 0px 23px 0px;
    text-align: center;
    padding-top: 5px;;
    color: #E4E4E4;
    cursor: pointer;
    font-size: 19px;
}

.exp-tab{
    border-radius: 5px 0px 0px 5px;

}
.ability-tab{
    background-color: #1E2233;
    color: #E4E4E4;
}
.projects-tab{
    border-radius: 0px 5px 5px 0px;
   
}



/*slider*/
.slider{
    position: relative;
    width: 100%;
    height: 430px;
    
}
.exp, .ability, .projects{
    /*position: absolute;*/
    width: 100%;
    height: 100%;
}

.exp{
    background-color: #1E2233;
    position: relative;
    letter-spacing:1px;
    /*display: flex;
    justify-content: flex-end;
    align-items: flex-start;*/
}
.exp .story{
    /*flex: none;*/
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 58px;
    background-color: #1E2233;
    border: 1px solid #F9AD3D;
    color: #e4e4e400;
    font-size: 13px;
    font-weight: lighter;
    text-align: unset;
    padding: 18px;
    left:130px;
    top:50px;
    overflow: hidden;
    cursor: pointer;

    -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out 0.5s;
    transition: width 0.3s ease-in-out,height 0.3s ease-in-out 0.5s;
}
.exp .story:hover{
    width: 250px;
    height: 330px;
    color: #E4E4E4;
}
.exp .story .gg-add{
    right:20px;
    display: inline-block; 
    position: absolute; 
    color: #F9AD3D;
}


.exp .job{
    /*flex: none;*/
    display: inline-block;
    position: absolute;
    max-width: 25%;
    height: 300px;
    background-color: #1E2233;
    color: #E4E4E4;
    font-size: 12px;
    font-weight: lighter;
    text-align: right;
    right:600px;
    top:50px;
    line-height: 20px;
}
.big-white-word{
    color: rgb(255, 255, 255);
    font-size: 23px;
}
.exp .job-description{
    /*flex: none;*/
    display: inline-block;
    position: absolute;

    max-width: 530px;
    height: 300px;
    background-color: #1E2233;
    color: #E4E4E4;
    font-size: 13px;
    font-weight: lighter;
    right:30px;
    top:48px;
}

.ability{
    background-color: #1E2233;
    position: relative;
    letter-spacing:1px;
}

.ability .rating-content{
    display: inline-block;
    position: absolute;
    left: 180px;
    top:25px;
    background-color: #1E2233;
    width:525px;
    height: 400px;
    color: #E4E4E4;
    font-size: 13px;
    font-weight: lighter;
    text-align: left;
}

.ability .rating{
    display: inline-block;
    position: absolute;

    color: #F9AD3D;
    background-color: #1E2233;
    margin-bottom: 15px;
    right:1px;
}
.ability p{
    display: inline-block;

    margin-bottom: 4px;
}

.ability .skills{
    display: inline-block;
    position: absolute;

    width: 150px;
    height: 58px;
    background-color: #1E2233;
    border: 1px solid #F9AD3D;
    color: #e4e4e400;
    font-size: 11px;
    font-weight: lighter;
    text-align: unset;
    padding: 18px;
    right:180px;
    top:30px;
    overflow: hidden;
    cursor: pointer;

    -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out 0.5s;
    transition: width 0.3s ease-in-out,height 0.3s ease-in-out 0.5s;
}
.ability .skills:hover{
    width: 230px;
    height: 365px;
    color: #E4E4E4;
}
.ability .skills .gg-add{
    right:20px;
    display: inline-block; 
    position: absolute; 
    color: #F9AD3D;
}






















.projects{
    background-color: #1E2233;
}

.list{
    display: flex;
    position: absolute;
    top:30px;
    justify-content: center;
    width:100% ;
    height: 150px;
    top:30px;
    margin: 0px auto 10px auto ;
}
.p-name{
    width: 170px;
    height: 160px;
    margin: 8px;
    padding: 0px;
    text-align: center;
    border-radius: 2px;
    font-weight: 300;
    font-size: 15px;
    position: relative;
    cursor: pointer;
}
.p-name p{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-5%, -50%);
}
.p-name:nth-child(1){
    color: #FFFFDC;
    border: 1px solid #FFFFDC;
}
.p-name:nth-child(1):hover{
    background-color: #FFFFDC;
    color:#1E2233 ;
    font-weight: 500;
}
.p-name:nth-child(2){
    color: #F7BF86;
    border: 1px solid #F7BF86;
}
.p-name:nth-child(2):hover{
    background-color: #F7BF86;
    color:#1E2233 ;
    font-weight: 500;
}
.p-name:nth-child(3){
    color: #F9C43F;
    border: 1px solid #F9C43F;
}
.p-name:nth-child(3):hover{
    background-color: #F9C43F;
    color:#1E2233 ;
    font-weight: 500;
}
.p-name:nth-child(4){
    color: #EC885A;
    border: 1px solid #EC885A;
}
.p-name:nth-child(4):hover{
    background-color: #EC885A;
    color:#1E2233 ;
    font-weight: 500;
}
.p-name:nth-child(5){
    color: #C34C2C;
    border: 1px solid #C34C2C;
}
.p-name:nth-child(5):hover{
    background-color: #C34C2C;
    color:#1E2233 ;
    font-weight: 500;
}
.p-name:nth-child(6){
    color: #F36439;
    border: 1px solid #F36439;
}
.p-name:nth-child(6):hover{
    background-color: #F36439;
    color:#1E2233 ;
    font-weight: 500;
}
.bars{
    width: 35%;
    color: #E4E4E4;
    display: inline-block;
    transform: translate(25%, 285%);
    line-height: 7px;
    
}














.slider button{
    background-color: #2F385D;
    width: 30px;
    height:30px;
    color: #F9AD3D;
    border: none;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 100;
    position: absolute;
    display:inline-block;
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}
.slider button:hover{
    transform: scale(2);
    font-size: 13px;
    font-weight: 500;
}
.slider .nxt-btn{
    right: 0px;
    bottom: 160px;
    transform: translateX(-20%);
    /*transform: translate(0%,-700%);*/
}
.slider .pre-btn{
    left:0px;
    bottom: 160px;
    transform: translateX(20%);
    /*transform: translate(0%,0);*/
}




